__pycache__
flowChart.drawio
/datasets/before/*
/datasets/JPEGImages/*
/datasets/SegmentationClass/*
/model_data/*
!/model_data/README.md
/miou_out
/unet_files/
/logs/*
!/logs/ep040-loss0.128-val_loss0.081.pth
/VOCdevkit/VOC2007/SegmentationClass/*
/VOCdevkit/VOC2007/JPEGImages/*
jamming_pos.mat
*.jpg
/matlab
